@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Slab&family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "serif";
    color: #2D2E32;
}

.navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.09);
    background-color: #fff;
}

.websiteLogo {
    font-weight: 800;
}

.navbarItems {
    list-style: none;
    font-weight: 400;
    display: flex;
    gap: 16px;
    margin-right:50px;
}

.navbarItems> li {
    font-weight: 600;
    font-size: 17px;
}

.navbarItems> li>a:hover, .websiteLogo:hover {
    color: #147EFB;
}

.commonLitems {
    text-decoration: none;
}

.container {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 75%;
    gap: 100px;
}

.detailsImage {
    margin-top: 50px;
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    position: relative;
}

.leftDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.detailsHeading {
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
}

.detailsBody {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.displayIcons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.githubIcon:hover {
    color: #147EFB;
    font-size: 2.5rem;
}

.rightImage {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(/static/media/pfp_webp.f334283….webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35%;
}

.imageIcons {
    height: 10px;
    width: 10px;
}

.technologiesStack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 45px;
}

.imageIcons {
    height: 50px;
    width: 50px;
}

.techStack {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #2d2e32;
    margin-right: 2rem;
    padding-right: 3rem;
    border-right: 2px solid rgba(45,46,50,.5);
}

.imgWeb {
    width: 70%;
    border-radius: 25px;
}

.about {
    padding-top: 65px;
    display: grid;
    grid-template-areas: "i a"
                         "i h"
                         "i m";
}

.one {
    grid-area: i;
    margin-right: -100px;
}



.two {
    grid-area: a;
    color: #147EFB;
    font-weight: 700;
    font-size: 20px;
}

.three {
    grid-area: h;
    font-weight: 700;
    font-size: 25px;
}

.four {
    grid-area: m;
    color: rgb(118, 118, 118);
    text-align: justify;
    font-size: 1.7 rem;
    font-family: "Mulish", ser;
}

.demo12 {
    padding-top: 65px;
}